# Git
.git
.gitignore

# Python
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/*.db

# Node / Frontend
**/node_modules/
**/dist/
**/.vite/

# Environment files
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
