fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic
email-validator

# ===== Milestone 2 =====
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-huggingface==0.0.3

transformers==4.41.2
torch==2.3.1
accelerate==0.31.0
sentence-transformers==2.7.0

motor
pymongo
spacy
numpy
librosa
soundfile
librosa
soundfile