body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(
        135deg,
        #4F46E5,
        #3B82F6,
        #06B6D4
    );

    min-height:100vh;

}

.page-container{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.custom-card{

    background:white;

    border-radius:20px;

    padding:30px;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}